
*
{
    margin: auto 0;
}

#corps-principal{
   /*background-color: antiquewhite;*/ /* ne modifiez pas cette div, elle est commune a toutes nos pages*/ 
}

nav.nav-secondaire{
   text-align: center;
   background-color: #E1E1E1;
}
nav.nav-principal {
  height: 40px;
  text-align: center;
  background-color: white;
}
   
#h1-titre1
{

   font-size: 60px;
   padding-top: 200px;
   font-family: Georgia;
   padding-right: 800px;
   color: white;
   text-shadow: 4px 3px 0px rgb(71, 71, 71), 9px 8px 0px rgba(32, 32, 32, 0.15);
}
   
#h1-titre2
{
   font-size: 50px;
   padding-top: 50px;
   color: white;
   font-family: Georgia;
   padding-left: 400px;

   text-shadow: 4px 3px 0px rgb(95, 92, 92), 9px 8px 0px rgba(32, 32, 32, 0.15);

}
.div-barreMenu {
   display: flex;
   justify-content: end;
   overflow: hidden;
   padding-right: 70px;
}
.div-barreMenu2 {
display: flex;
justify-content: end;
overflow: hidden;
   margin-right: 10px;
}
/* pk yen a 2 pareil ?*/
.div-barreMenu2 a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.div-barreMenu a {
   float: left;
   font-size: 16px;
   color: black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: color 0.5s, background-color 0.5s;
}

.div-deroulant {
   float: left;
   overflow: hidden;
}
.div-deroulant .btn-deroulant {
   font-size: 16px;
   border: none;
   outline: none;
   color: black;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
   transition: color 0.5s, background-color 0.5s;
}

.div-barreMenu a:hover, .div-deroulant:hover .btn-deroulant {
   background-color: #C2C2C2;
   color: #444444;
}

.div-sousMenu {
   display: none;
   position: absolute;
   background-color: #444444;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
.div-sousMenu2 {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 160px;
}
.div-sousMenu a {
   float: none;
   color: aliceblue;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
   transition: color 0.5s, background-color 0.5s;
}

.div-sousMenu a:hover {
   background-color: #C2C2C2;
}

.div-deroulant:hover .div-sousMenu {
   display: block;
}
   .div-deroulant:hover .div-sousMenu2 {
    display: block;
}

/**************** IMAGES **************/
#img-caddi {
    height : 30px;
    width : 30px;
    margin-bottom: 13px;

}
#img-silhouette {
    height : 30px;
    width : 30px;
    margin-bottom: 15px;
}

#texte-acceuil, #section-inscription{
   width: 66%;
   margin-left: 34%;
}

#div-corpsPrincipal{
   margin-bottom: 25px;
}
#div-corpsPrincipal h1{
   text-align: center;
}

#div-corpsPrincipal
{
   background: url(../images/fond.jpg) 50% 50%;
   background-repeat: no-repeat;
   margin: auto 0;

}
.div-partie2
{
   background-color: gray;
   height: 300px;
   margin: auto 0;

}
#img-photoPartie2
{
   height: 300px;
   width: 300px;
   margin-left: 40%;
   margin-top: 3%;
}
.div-partie3
{
    background-color: white;
    height: 300px;
}
.div-sousPartie3
{
   background-color: #5E97B0;
   height: 400px;
   width: 400px;
   margin: 5% auto 0;
   box-shadow: 8px 5px 5px gray;
}

/***********************- PAGE PANIER -********************/
.div-container {
   display: flex;
   justify-content: start;
   align-items: start;
   margin: 40px;
   padding: 0px;
}
/* partie gauche : */
.sec-listeProduit {
   margin-top: 0%; /*tres important*/
   height: 100%;
   width: 69%;
   margin-right: 5%;
}
.sec-listeProduit h1{
   color: #696969;
   font-size: 4em;
   border: none;
}
.sec-listeProduit .div-titreListe{
   color: #696969;
   font-size: 2em;
   border-top-style: groove;
   border-top-color: #444444;
   border-bottom-style: groove;
   border-bottom-color: #444444;
   padding: 1% 1%;
   display: flex;
   justify-content: end;
}
.sec-listeProduit .div-titreListe p {
   margin-right: 3%;
}
.sec-listeProduit .div-liste {
   height: 200px; /*taille au hasard de la liste*/
   margin-top: 2%;
}

/* partie droite pour le paiement */
.sec-paiement {
   margin-top: 0%; /*tres important*/
   background-color: #E1E1E1;
   width: 29%;
   /*border-color: #444444;
   border-style: ridge;
   border-radius: 5%;*/
   padding: 2%;
}

.sec-paiement .div-paiement {
   font-size: 2em;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 5%;
}
.sec-paiement .div-paiement .p-code {
   margin-bottom: 6%;
}
.sec-paiement .div-paiement .in-code {
   font-size: 0.8em;
   width: 100%;
   margin-bottom: 2%;
}
.sec-paiement .div-paiement .btn-ajouter {
   display: flex;
   align-self: end;
   font-weight: 700;
   font-size: 0.5em;
   color: #999999;
   background-color: black;
   border-radius: 15px;
   padding: 2% 7%;
   border-color: black;
   border-style: solid;
}
.sec-paiement .div-paiement .btn-ajouter:hover {
   background-color: whitesmoke;
}
.sec-paiement .div-paiement .div-affichagePrix {
   margin: 10% 10%;
   background-color: white;
   width: 100%;
   height: 110px;
}
.sec-paiement .btn-commander {
   font-weight: 700;
   font-size: 1.4em;
   color: #999999;
   background-color: black;
   border-radius: 15px;
   padding: 2% 8%;
   border-color: black;
   border-style: solid;
   width: 100%;
}
.sec-paiement .btn-commander:hover {
   background-color: whitesmoke;
}

/*************** fin page panier **************/

/*************** page inscription *************/

.div-background-i {
   margin: 0px;
   padding: 0px;
   height: 80vh;
   width: 100vw;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sec-i {
   font-family: Georgia;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(223, 181, 167);
  /* margin: 0vh 30vw 0vh 30vw;*/
   height: 70vh;
   width: 32vw;
   border-radius: 20px;
}
.sec-i .h1-titre{
   font-size: 350%;
   letter-spacing: 2px;
   padding: 0vh 3vw 0vh 3vw;
}
.sec-i .group input{
   font-size: 1.5vw;
   margin-top: 3vh;
   border: none;
   border-radius: 10px;
   width: 18vw;
   height: 5vh;
}
::-webkit-input-placeholder { text-align:center; }

.sec-i .group-submit {
   display: flex;
   justify-content: center;
}

.sec-i .in-submit {
   font-weight: 500;
   font-size: 150%;
   color: #999999;
   background-color: black;
   border-radius: 20px;
   padding: 2% 8%;
   border-color: black;
   border-style: solid;
   width: 60%;
   margin: 6vh 0vh 0vh 0vh;
}
.sec-i .in-submit:hover {
   background-color: whitesmoke;
}
/*************** fin page inscription *********/

/*************** page paiement ****************/

#sec-livraison {
   
}

#sec-livraison h1 {
   font-size: 3.5 em;
   padding-left: 10vw;
}
#sec-livraison #div-containImg {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin: 10px;
}
#sec-livraison #div-containImg #div-img12 {
   display: flex;
   flex-direction: row;
   border-bottom: black;
   border-bottom-width: 2px;
   border-bottom-style: solid;
}
#sec-livraison #div-containImg #div-img34 {   
   display: flex;
   flex-direction: row;
   border-top: black;   
   border-top-width: 2px;
   border-top-style: solid;
}
#img-dom {
   border-color: white;
   border-width: 4px;
   border-style: solid;
   border-right-color: black;
   border-right-width: 2px;
}
#img-rel {
   border-color: white;
   border-width: 4px;
   border-style: solid;
   border-left-color: black;
   border-left-width: 2px;
}
#img-exp {
   border-color: white;
   border-width: 4px;
   border-style: solid;
   border-right-color: black;
   border-right-width: 2px;
}
#img-mag {
   border-color: white;
   border-width: 4px;
   border-style: solid;
   border-left-color: black;
   border-left-width: 2px;
}
#sec-livraison #div-containImg img  {
   padding: 15px;
   width: 10vw;
   aspect-ratio: 1/1;
}
#sec-livraison #div-containImg img:hover  {
   transform: scale(1.2);
   transition: transform 1.2s;
}

    

/*************** fin page paiement ************/

footer{
    text-align: center;
    width: 80%;
    clear: both;
   margin: auto;
   padding: 20px;
}

/*************** liste des produits **************/
#recherche{
   text-align: right;
   padding-right: 15px;
}

#liste-produits-grille {
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: space-between;
   grid-row-gap: 25px;
   margin-right: 25px;
   margin-bottom: 25px;
   padding: 15px;
}

.liste-produit-item {
   border: 1px solid rgba(0,0,0,0.8);
   padding: 15px;
   text-align: center;
   width: 350px;
   height: 350px;
   background-color: white;
}

.liste-produit-item h2{
   font-size: x-large;
   text-align: left;
}

.liste-produit-item h3{
   font-size: medium;
   text-align: left;
}

#prix{
   float: left;
}

#image-produit{
   height: 200px;
}

#ajout-caddi{
   height: 50px;
   float: right;
}

.center{
   text-align: center;
}

.Pagination{
   display: inline-block;
   padding: 5px;
}

.Pagination a {
   color: black;
   float: left;
   padding: 8px 16px;
   text-decoration: none;
   transition: background-color .3s;
}

/* Style the active/current link */
.Pagination a.active {
   background-color: gray;
   color: white;
}

/* Add a grey background color on mouse-over */
.Pagination a:hover:not(.active) {background-color: #ddd;}